.el-menu {
  --el-menu-hover-bg-color: transparent;
  .el-sub-menu.is-active .el-sub-menu__title {
    color: var(--el-color-primary);
  }
  .el-sub-menu__title {
    height: 50px;
    line-height: 50px;
    i {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 24px;
      margin-right: 5px;
      text-align: center;
    }
    & > * {
      z-index: 1;
    }
    &:hover::before {
      position: absolute;
      inset: 2px 8px;
      clear: both;
      content: '';
      background: var(--el-fill-color-light);
      border-radius: 4px;
    }
  }
  .el-menu-item {
    height: 50px;
    line-height: 50px;
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      margin-right: 5px;
      text-align: center;
    }
    & > * {
      z-index: 1;
    }
    &.is-active > * {
      color: var(--el-color-primary);
    }
    &:hover::before {
      position: absolute;
      inset: 2px 8px;
      clear: both;
      content: '';
      background: var(--el-fill-color-light);
      border-radius: 2px;
    }
    &.is-active::before {
      position: absolute;
      inset: 2px 8px;
      clear: both;
      content: '';
      background: var(--el-color-primary-light-8);
      border-radius: 4px;
    }
  }
}
.el-main .el-scrollbar__view {
  height: 100%;
}
